<div class="bg-dark border-bottom border-body" data-bs-theme="dark">
    
    <div class="text-center pt-4">
      <h1 class="text-light">CruX Publication</h1>
    </div>
  
  <nav class="navbar navbar-expand">
    <div class="container-fluid justify-content-center">
      <ul class="navbar-nav mx-auto pl-10">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" role="button" aria-current="page" routerLink="/home" routerLinkActive="active">
              Home
          </a>
        </li>

        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="dropdown-label" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/archive" routerLinkActive="active">
            Categories
          </a>
          <ul class="dropdown-menu dropdown-menu-right justify-content-center">
            <!-- <h6 class="dropdown-header">Dropdown header</h6> -->
            <li><a class="dropdown-item" href="#" routerLink="/archive">Technology</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/archive">Business</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/archive">Society</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" routerLink="/archive">Archive</a></li>
          </ul>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" role="button" routerLink="/about" routerLinkActive="active">
              About
          </a>
        </li>
      </ul>
    </div>
  </nav>  
</div>