<!-- Featured Article -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Padding -->
        <div class="col"></div>

        <!-- Featured article -->
        <div class="col-7 bg-dark">
        Variable width content
        </div>

        <!-- Featured Sub-articles -->
            <!-- At small enough sizes, but these under the main article? -->
        <div class="col-3 mx-3">
            <div class="row bg-primary"> 
                <br><br><br><br><br><br><br>
            </div> 
            <div class="row bg-warning mt-3"> 
                <br><br><br><br><br><br><br>
            </div>
        </div>
        <!-- Padding -->
        <div class="col">
            <br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>      

<!-- List of articles + search -->
<div class="container mt-5">
    <div class="row justify-content-center mb-1">
        <h2 class="text-center">The Latest in Neurotech</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col-7">
            <div class="row">
            <form class="d-flex " role="search">
                <input class="form-control mx-3" id="home-search" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
           
                <div class="dropdown-center mx-3">
                    <button class="btn btn-secondary dropdown-toggle" id="sort-by" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort By <b>This</b>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Date</a></li>
                        <li><a class="dropdown-item" href="#">Author</a></li>
                        <li><a class="dropdown-item" href="#">A-Z</a></li>
                    </ul>
                </div>
            </form>
            </div>

            <div class="row mt-2 pt-3 justify-content-center">
                <div class="col bg-primary text-center">
                    <br><br><br><br><br>
                </div>
            </div>

            <div class="row mt-2 pt-3 justify-content-center">
                <div class="col bg-primary text-center">
                    <br><br><br><br><br>
                </div>
            </div>

            <div class="row mt-2 pt-3 justify-content-center">
                <div class="col bg-primary text-center">
                    <br><br><br><br><br>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div> 