/* You can add global styles to this file, and also import other style files */
body {
    background-image: linear-gradient(to top, #c5c5c5, #ffffff);
    background-size: 100vw 100vh; /* Cover the entire viewport */
    background-repeat: no-repeat;
    background-attachment: fixed; /* To keep the image fixed while scrolling */
  
    /* background-image: url('./CruXBackground-long.png'); */
    /* background-size: 100vw auto; Cover the entire width of the screen */

    background-color: #212529;
}

